<?xml version="1.0" encoding="UTF-8"?>
<!-- scan=true表示配置文件被修改重新加载 -->
<configuration scan="true" scanPeriod="60 seconds">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 日志格式 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="permission" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/permission.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.home}/logs/permission.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </layout>
    </appender>

    <logger name="permission" level="INFO">
        <appender-ref ref="permission"/>
    </logger>

    <!--
        root标签指定日志级别
        TRACE < DEBUG < INFO < WARN < ERROR
    -->
    <root level="INFO">
        <!-- 指定日志appender -->
        <appender-ref ref="stdout"/>
    </root>
</configuration>