<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
>
		
	<bean id="processor" class="com.bd.ace.trade.common.rocketmq.ProcessorTest"/>
	<bean id="aceMqConsumer" class="com.bd.ace.trade.common.rocketmq.AceMqConsumer" init-method="init">
		<property name="groupName" value="AceConsumerGroup" />
		<property name="topic" value="orderTopic" />
		<property name="namesrvAddr" value="192.168.8.10:9876;192.168.8.11:9876" />
        <property name="processor" ref="processor"/>
	</bean>
 </beans>
