<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<bean id="userClient"
		class="com.bd.ace.trade.common.client.RestClientProxyFactory">
		<property name="serviceInterface" value="com.bd.ace.trade.common.api.IUserApi" />
		<property name="serverEnum" ref="USER" />
	</bean>
	
	<bean id="orderClient"
		class="com.bd.ace.trade.common.client.RestClientProxyFactory">
		<property name="serviceInterface" value="com.bd.ace.trade.common.api.IOrderApi" />
		<property name="serverEnum" ref="ORDER" />
	</bean>
	
	<bean id="goodsClient"
		class="com.bd.ace.trade.common.client.RestClientProxyFactory">
		<property name="serviceInterface" value="com.bd.ace.trade.common.api.IGoodsApi" />
		<property name="serverEnum" ref="GOODS" />
	</bean>
	
	<bean id="payClient"
		class="com.bd.ace.trade.common.client.RestClientProxyFactory">
		<property name="serviceInterface" value="com.bd.ace.trade.common.api.IPayApi" />
		<property name="serverEnum" ref="PAY" />
	</bean>
	
	<bean id="couponClient"
	    class="com.bd.ace.trade.common.client.RestClientProxyFactory">
		<property name="serviceInterface" value="com.bd.ace.trade.common.api.ICouponApi" />
		<property name="serverEnum" ref="COUPON" />
	</bean>
	
	<util:constant id="USER"
		static-field="com.bd.ace.trade.common.constant.TradeEnums.RestServerEnum.USER" />
	<util:constant id="ORDER"
		static-field="com.bd.ace.trade.common.constant.TradeEnums.RestServerEnum.ORDER" />
	<util:constant id="PAY"
		static-field="com.bd.ace.trade.common.constant.TradeEnums.RestServerEnum.PAY" />
	<util:constant id="GOODS"
		static-field="com.bd.ace.trade.common.constant.TradeEnums.RestServerEnum.GOODS" />
	<util:constant id="COUPON"
		static-field="com.bd.ace.trade.common.constant.TradeEnums.RestServerEnum.COUPON" />
</beans>
