<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="constructor">

    <!-- byName，见20.png -->
    <bean id="autoWiringService" class="com.bd.imooc.spring.bean.auto.wiring.AutoWiringService"/>
    <bean id="autoWiringDAO" class="com.bd.imooc.spring.bean.auto.wiring.AutoWiringDAO"/>

    <!-- byType -->
    <!-- id与属性名不一致也可以 -->
    <bean id="autoWiringDAO1" class="com.bd.imooc.spring.bean.auto.wiring.AutoWiringDAO"/>

    <!-- byType/constructor，跟id无关 -->
    <bean class="com.bd.imooc.spring.bean.auto.wiring.AutoWiringDAO"/>
</beans>
