<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 见91、92.png -->
    <context:component-scan base-package="com.bd.imooc.spring.aop.schema"/>

    <aop:config>
        <aop:aspect id="concurrentOperationRetry" ref="concurrentOperationExecutor">
            <aop:pointcut id="idempotentOperation"
                          expression="execution(* com.bd.imooc.spring.aop.schema.advisors.service.*.*(..)) "/>
            <!--      			expression="execution(* com.bd.imooc.spring.aop.schema.service.*.*(..)) and -->
            <!--         						@annotation(com.bd.imooc.spring.aop.schema.Idempotent)" /> -->
            <aop:around pointcut-ref="idempotentOperation" method="doConcurrentOperation"/>
        </aop:aspect>
    </aop:config>

    <bean id="concurrentOperationExecutor"
          class="com.bd.imooc.spring.primer.aop.schema.advisors.ConcurrentOperationExecutor">
        <property name="maxRetries" value="3"/>
        <property name="order" value="100"/>
    </bean>

</beans>
