<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 设值注入 -->
    <!-- <bean id="injectionService" class="InjectionServiceImpl">
        <property name="injectionDAO" ref="injectionDAO" />
    </bean> -->

    <!-- 构造注入，构建InjectionServiceImpl对象时，构造函数参数赋值为injectionDAO对象 -->
    <bean id="injectionService" class="com.bd.imooc.spring.primer.ioc.injection.service.InjectionServiceImpl">
        <constructor-arg name="injectionDAO" ref="injectionDAO"/>
    </bean>

    <bean id="injectionDAO" class="com.bd.imooc.spring.primer.ioc.injection.dao.InjectionDAOImpl"/>
</beans>
